#Java
*.class
*.log
*.war
*.ear
*.zip
*.tar.gz
*.rar

#Eclipse
.metadata
tmp/
*.tmp
*.bak
.settings/
.classpath
.project

#Intellij
.idea/
*.iml
*.iws

#Mac
.DS_Store

#Maven
/target

#Other
bin/
# 只忽略当前目录下的log和logs文件和目录
/log
/logs
